<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../assets/styles/CSS/main.css">
    <link rel="stylesheet" href="../assets/styles/CSS/themes.css">
    <title>Medicatorium - Gerenciamento de Medicamentos</title>
</head>
<body>
    <header class="header-dashboard-medicatorium">
        <div class="header-title-logo">
            <div class="header-logo-medicatorium">
                <i class="fa-solid fa-briefcase-medical"></i>
            </div>
            <h1>Medicatorium</h1>
        </div>

        <div class="menu-dashboard">
            <div class="dashboard-option">
                <i class="fa-solid fa-house"></i>
                <h1>Dashboard</h1>
            </div>

            <div class="medication-option">
                <i class="fa-solid fa-comment-medical"></i>
                <h1>Medications</h1>
            </div>

            <div class="new-medication-option">
                <i class="fa-solid fa-notes-medical"></i>
                <h1>New Medication</h1>
            </div>
        </div>

        <div class="header-profile">
            <div class="logo-profile">

            </div>

            <div class="name-profile">
                <h3 class="text-name-profile">Name User</h3>
            </div>

            <div class="logout-profile">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>

    </header>    
</body>
</html>