<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/CSS/registrationScreen.css">
    <title>Medicatirium - Resgistration</title>
    <script src="registrationScreen.ts"></script>
</head>
<body>
    <div class="registration-table">
        <div class="registration-title">
            <h1 class="title">Sign-In</h1>
        </div>

        <div class="medicatorium-registration-input">
            <div class="registration-input">
                <i class="fa-solid fa-circle-user"></i>
                <label for="text">Fullname</label>
                <input type="text" name="Fullname" id="input-fullname">
            </div>

            <div class="registration-input">
                <i class="fa-solid fa-envelope"></i>
                <label for="text">E-mail</label>
                <input type="email" name="E-mail" id="input-email">
            </div>

            <div class="registration-input">
                <i class="fa-solid fa-lock"></i>
                <label for="text">Password</label>
                <input type="password" name="Password" id="input-password">
            </div>
        </div>

        <div class="registration-button">
            <p class="input-password">SignIn</p>
        </div>
    </div>    
</body>
</html>